
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    font-family: 'Poppins', sans-serif;   
     margin: 0;  overflow-x: hidden;
}
.landing-Img{
    background: url(../assets/landing.png);
    height: 100vh;
    position: relative;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-bar{
    background: #af010b;
    opacity: .8;
    width: 50%;
    position: absolute;
    margin-left: 50%;
    top: 0px;
    height: 100%;
}
.navbar{

    width: 100%;
    position: relative;
    margin-top: 50px;
    background: rgb(245, 245, 245);
    border: 1px solid #af010b;
}    
.nav a{
    color: #af010b;
}
.navbar-brand{
    position: absolute;
    top: 60px;
    left: 60px;
}
.landing-Img p{
    font-size: 24px;
    text-transform: uppercase;
    position: absolute;
    left: 30%;
    top: 70px;
    font-family: 'Roboto', sans-serif;
}
.box{
    position: absolute;
    left: 27%;
    top: 33%;
    border-left: 9px solid #af010b;
    padding-left: 5px;

}
.textnav{
    position: absolute;
    top: 60px;
    font-size: 2vw;
    color: white;
    left: 30%;
}
.box h3{
    font-size: 6vw;
    color: white;
    text-shadow: 0px 4.28235px 4.28235px rgba(0, 0, 0, 0.5);;
}
.box h1{
    font-size: 10vw;
    color: #af010b;
}
.box h1 span{
    color: white;
}
.arrow a{
    background: #AF010B;
    color: white;
}
.arrow a{
    position: absolute;
    bottom: 0px;
    left: 47%;
    width: 90px;
    height: 71px;
    text-align: center;
    font-size: 50px;
}
.arrow a img{
    height: 30px;
}
@media only screen and (max-width: 768px){
    .navbar-toggler{
        justify-content: start;
        margin-left: 80%;
    }
    .textnav{
        display: none;
    }
    .box{
        left: 25%;
    }
    .arrow{
        display: none;
    }
}
/*Page 2*/
.nav.nav-tab{
    position: absolute;
}
.nav a{
    color: #000000;
}
a.nav-link.page{
    border-right: 1px solid #AF010B;
    font-size: 12px;
    height: 24px;
}
.nav.nav-tabs.nav-stacked{
    top: 20px;
    padding-left: 90px;
    padding-bottom: 5px;
}

.container-fluid{
margin-top: 1%;
font-family: 'Poppins', sans-serif;
}
.about{
    margin-top: 5%;
    text-align: center;
}
.about h3{
    color: #AF010B;
}
.about h3 span{
    color: black;
}
.container-md{
    margin-left: 5%;
    margin-right: 5%;
   
}
.col-sm-5{
    margin: auto;
    color: rgba(0, 0, 0, 0.5);
}
.col-sm-5 p{
    padding-left: 50px;
}
.arrow1{
    position: absolute;
    background: #af010b;
    width: 90px;
    height: 71px;
    left: 50%;
top: 115%;
    transform: translate(-50%, -50%);
}
.arrow1  img{
    height: 30px;
}
.arrow1 a{
    position: absolute;
    font-size: 50px;
    text-align: center;
    left: 30%;

}
.container-fluid{
    position: relative;
}
@media only screen and (max-width: 768px){
    .arrow1{
        display: none;
    }
}
/*Second page ends*/
/*Page 3*/
#page3{
    position: relative;
}
.bg-img1{
        background: url(../assets/home-office-1867761_1920\ 1.png);
        height: 100vh;
        width: 100%;
        position: relative;
        background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 10%;
    
}
.color{
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;

}
.about .text{
    position: absolute;
    top: 100px;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.bars{
    position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.col-md-3 .progress.blue{
    zoom: 2;
}
.col-md-3{
    margin: auto;
    position: absolute;
}

.media-links{
    position: absolute;
    left: 18%;

}
.bar-text{
    color: white;
    position: absolute;
    top: 110%;
    left: 25%;
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 132.5%;;
}
.bar p{
    color: white;
}
@media only screen and (max-width: 999px){
    .bg-img1{
        height: 100vh;
    }
    .col-md-3 .progress.blue{
        zoom: 1;
     margin-bottom: 10%;
    }
   .bar-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16.1307px;
    line-height: 132.5%;
   }
    .media-links{
        display: none;
    }
    .arrow1{
        display: none;
    }
    .arrow{
        display: none;
    }
    .box{
        top: 50%;
    }
}
@media only screen and (max-width: 768px){
    
    .col-md-3 .progress.blue{
     zoom: normal;
     
    }
    .bar-text{
        top: 90%;
    }
    .row{
        left: 30%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}
@media only screen and (max-width: 570px){
    .col-md-3 .progress.blue{
        zoom: 1.2;
    }
    .col-md-3{
        margin-top: 1rem;
    }
    .bar-text{
        left: 40%;
    }
}
/*Page 4 ends*/
.bg-img3{
    background: url(../assets/computer-1245714_1920\ 1.png);
    height: 100vh;
    width: 100%;
    position: relative;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -5%
}
.color1{
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    width: 100%;
    height: 100%;
}
.about.text-dark{
    position: absolute;
    top: 120px;
}
.table-responsive{
    background-color: tomato;
}
.table{
    position: absolute;
    top: 150px;
}
td{
    width: 333px;
    font-size: 15px;
    border-bottom: 1px solid black;
    margin-left: 5%;
}
th, th.col{
    border-bottom: 1px solid black;


}
.table-responsive{
    margin-top: 5%;
}
@media only screen and (max-width: 330px){
    td{
        width: 200px;
        text-align: justify;
        height: 150px;
        font-size: 10px;
    }
}
/*Page 3 ends
Page 4 begins*/
.bg-img4{
    background: url(../assets/people-2583442_1920\ 1.png);
    height: 100vh;
    position: relative;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.color3{
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
}
form{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.form-control:valid {
    background-color:  transparent !important;
  }
  input:valid{
      border: 2px solid white;
      outline: none;
  }
  textarea:valid{
      border: 2px solid white;
  }
  .btn.btn-block{
      background: #AF010B;
      color: white;
  }
  .media-link{
      position: absolute;
    left: 96%;
    top: 25%
  }
@media only screen and (max-width: 768px){
    form{
        width: 100%;
       
    }
}
/*Footer*/
footer{
background:#e5e5e5;
}
footer h6 img{
    margin-top: -5%;
}
footer .col-sm-4{
    padding-top: 5%;
    padding-left: 99px;
}
footer h6{
    color: #000000;
    font-weight: bold;
    font-size: 30px;
}
footer p{
    padding-top: 3%;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 29px;

color: #000000;
}
.src{
    font-weight: bold;
    font-size: 19px;
}