@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');

/* Base Styling */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red;   */
}

html {
    font-size: 62.5%;   
}

body {
    background-color: #fff;
    overflow-x: hidden;
}


/* Categories styling*/
.categories {
    position: relative;
}
.categories-heading {
    padding: 11.6rem 0 0 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.5);
}

.categories-box {
    margin: 8rem 0 16.5rem 0;
}

.categories-list {
    padding: 0 14rem;
}

.card{
    border: 0;
    margin-bottom: 7.8rem;
}

.card-img {
    width: 5.8rem;
}

.card-body {
    padding: 0;
}

.card-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.9rem;
    line-height: 58px;
    color: rgba(0, 0, 0, 0.5);
    
}
.card-text {
    font-family: "Poppins", sans-serif  ;
    font-style: normal;
    font-weight: 200;
    font-size: 1.9rem;
    color: #000000;
}
.circles {
    bottom: 15%;   
}
.circles1 {
    top: 0;
    left: 80%;
}
.social-media {
    bottom: 25%;
    left: 95%;
}
ul {
    list-style: none;
}

.icons {
    color: black;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.icons:link,
.icons:visited {
    text-decoration: none;
}
.icons:hover {
    color: #000;
}
.fa-twitter:before {
    content: "\f099";
    padding: .2rem .2rem;
    color: #fff;
    border-radius: 50%;
    background-color: #000000;
}
/* Footer styling */
footer {
    background-color: #DADADA;
}

.row-footer {
    padding: 22rem 3rem 22.5rem 9rem;
}

.footer-logo {
    width: 22.4rem;
    margin-bottom: 4.89rem;
}

.footer-links__header {
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-top: 35px;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    font-style: regular;
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 3.4rem;
}
.footer-subtext {
    font-family: "Roboto", sans-serif;
    font-size: 1.9rem;
    color: #000000;
}

footer .footer-links{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 2.9rem;
    color: #000000;
    text-decoration: none;
}

footer .footer-links:not(:last-child) {
    margin-bottom: 18px;
}

/* Media quaries */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .navbar {
        top: 0;
        background-image: linear-gradient(90deg, transparent 50%, transparent 50%);
        font-size: 1.5rem;
    }
    .navbar-nav {
        margin-left: auto;
    }
    .card {
        margin: 0;
        padding: 0 3rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }
    .card-img {
        width: 3.8rem
    }
    
    .categories-box {
        margin: 0 0 7.4rem 0;
    }
    .categories-list {
        padding: 0;
    }
    .categories-heading {
        font-size: 2rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    .bckg {
        background-color:#DADADA;
    }

    .card-body {
        padding: 0 1.9rem 0 0;
    }
 
    .card-img {
        padding-top: 1rem;
    }
    .card-title {
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .card-text {
        font-size: 1.2rem;
        line-height: 1.8rem;
        padding-bottom: 2.3rem;
    }
   
    .circles1 {
        display: none;
    }
    .social-media {
        display:none;
    }
    .row-footer {
        padding: 3.2rem 0 1.4rem 2rem;
    }

    .footer-logo {
        width: 10.5rem;
        margin-bottom: 2.3rem;
    }
    .footer-links__header{
        margin-bottom: 3.2rem;
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: #000000;
    }
    footer .footer-links{
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 1.3rem;
        line-height: 1.5rem;
        color: #000000;
    }
    
    footer .footer-links:not(:last-child) {
        margin-bottom: .94rem;
    }
    .copyright {
        font-family: "Shanti", sans-serif;
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 1.7rem;
        color: #AF010B;
    }

    hr {
        border:0.5px solid #2F2E2E;
    }
}
